<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include "partials/meta-info.njk" %}
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=fira-code:400|wittgenstein:400,400i,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.bunny.net/css?family=barlow:400,400i,700,700i&display=swap" rel="stylesheet" />
  <link href="https://fonts.bunny.net/css?family=encode-sans:400,400i,700,700i&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/prism-tomorrow.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
</head>
<body class="flow">
  {% include "partials/site-head.njk" %}
  <main tabindex="-1" id="main-content">{% block content %}{% endblock %}</main>

  <footer>
    <nav class="nav site-footer__nav" aria-label="Footer">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/feed.xml">RSS</a>
        </li>
      </ul>
    </nav>
  </footer>
</body>
</html>
