<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=barlow:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/prism-tomorrow.css">
  <link rel="stylesheet" href="/css/style.css">
  {% include "partials/meta-info.njk" %}
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
</head>
<body class="flow">
  {% include "partials/site-head.njk" %}
  <main tabindex="-1" id="main-content">{% block content %}{% endblock %}</main>

  <footer class="site-footer flow" style="--flow-space: 0.25em;">
    <p>Thanks for visiting! More links:</p>
    <nav class="nav site-footer__nav" aria-label="Secondary navigation">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="https://github.com/minttoothpick">GitHub</a>
        </li>
        <li class="nav__item">
          <a href="https://www.linkedin.com/in/jeremy-robert-jones/">LinkedIn</a>
        </li>
        <li class="nav__item">
          <a href="https://pixelfed.social/minttoothpick">Pixelfed</a>
        </li>
        <li class="nav__item">
          <a href="https://bsky.app/profile/minttoothpick.bsky.social">Bluesky</a>
        </li>
        <li class="nav__item">
          <a href="/feed.xml">RSS Feed</a>
        </li>
      </ul>
    </nav>
  </footer>
</body>
</html>
