{% extends "layouts/base.njk" %}

{% block content %}
<article class="flow">
  {{ content | safe }}
</article>

<div class="wrapper">
  {% set postListHeadline = "My latest blog posts" %}
  {% set postListItems = collections.blog | limit(3) %}
  <div style="margin-block-start: 3.5em;">
    {% include "partials/post-list.njk" %}
  </div>
  <p><a href="/blog/">View all posts →</a></p>
</div>
{% endblock %}
