{% extends "layouts/base.njk" %}

{% set pageHeaderTitle = title %}

{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary %}
  {% if date or tags %}
    <div class="post__meta flow">
      {% if date or editDate %}
        {% if date %}<time datetime="{{ date | dateFilterW3 }}">Posted: {{ date | dateFilter }}</time>{% endif %}
        {% if date and editDate %} / {% endif %}
        {% if editDate %}<time datetime="{{ editDate | dateFilterW3 }}">Revised: {{ editDate | dateFilter }}</time>{% endif %}
      {% endif %}
      {% if tags %}
        <p class="visually-hidden" id="tags-desc">Tags that this post has been filed under.</p>
        <ul class="tags-list" aria-describedby="tags-desc">
          {% for tag in tags %}
            <li>
              <a href="/tag/{{ tag | slugify }}/">#{{ tag | replace(' ', '') }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if soundtrack %}
        <p>🎵 Writing soundtrack: {{ soundtrack | safe }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endset %}

{% block content %}
  <article class="flow">
    {% include "partials/page-header.njk" %}

    <div class="page-content flow">
      {% if lede %}
        <p class="lede">{{ lede }}</p>
      {% endif %}
      {{ content | safe }}
    </div>
  </article>
{% endblock %}
