/**
  Reset
  https://piccalil.li/blog/some-simple-ways-to-make-content-look-good/
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
 * Core global styles
 */

:root {
  --color-dark: #252525;
  --color-medium: #ddd;
  --color-light: #efefef;
  --color-primary: #1a8fe3;

  /* https://coolors.co/45062e-7f055f-e5a4cb-ebd2be-ffe8d4 */
  --color-black: #1D0214;
  --color-dark: #45062E;
  --color-white: #F3ECE6;
  --color-white-dark: #E8DACE;
  --color-primary: #E5A4CB;
  --color-primary-dark: #7F055F;

  /* --size-step-0: 1rem;
  --size-step-1: 1.25rem;
  --size-step-2: 1.56rem;
  --size-step-3: 1.95rem;
  --size-step-4: 2.43rem; */

  /* https://utopia.fyi/type/calculator/?c=320,16,1.25,1240,18,1.333,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12 */
  --size-step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --size-step-1: clamp(1.25rem, 1.1957rem + 0.2717vw, 1.4063rem);
  --size-step-2: clamp(1.5625rem, 1.4946rem + 0.3397vw, 1.7578rem);
  --size-step-3: clamp(1.9531rem, 1.8682rem + 0.4246vw, 2.1973rem);
  --size-step-4: clamp(2.4414rem, 2.3353rem + 0.5307vw, 2.7466rem);
  --size-step-5: clamp(3.0518rem, 2.9191rem + 0.6634vw, 3.4332rem);
}

/* html {
  font-size: 110%;
} */

body {
  background: var(--color-white);
  color: var(--color-black);
  padding: 2em;
  /* font-family: 'Wittgenstein', Georgia, serif; */
  font-family: sans-serif;
  font-family: 'Barlow', sans-serif;
  /* font-family: 'Encode Sans', sans-serif; */
  font-size: var(--size-step-1);
  line-height: 1.7;
}

h1,
h2 {
  /* font-family: 'Wittgenstein', Georgia, serif; */
  font-weight: 700;
  line-height: 1.2;
  text-wrap: balance;
}

h3 {
  line-height: 1.5;
}

h1 {
  font-size: var(--size-step-5);
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-1);
}

ul,
ol {
  padding-inline-start: 1em;
}

blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--size-step-2);
}

a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.25ex;
  text-underline-offset: 0.3ex;
  transition: text-decoration-color 0.2s ease-out;
}

a:hover {
  text-decoration-color: var(--color-primary-dark);
}

/**
 * Flow
 */

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* Extra space before headings and blockquotes */
:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

/* Less space between heading's direct sibling */
:is(h1, h2) + * {
  --flow-space: 0.5em;
}

:is(h3) + * {
  --flow-space: 0.25em;
}

main {
  padding-top: 2.5em;
}

/**
 * Code
 */

code,
code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 0.9em;
  border-radius: 3px;
}

pre[class*="language-"] {
  margin-inline: -1em;
}

code:not([class*="language-"]) {
  font-family: monospace, monospace;
  background-color: var(--color-white-dark);
  color: var(--color-dark);
  padding: 0.1em 0.2em;
  white-space: nowrap;
}

/**
 * Line lengths
 */

article {
  margin-inline: auto;
  max-width: 60ch;
}

article.resume {
  max-width: 80ch;
}

blockquote {
  max-width: 50ch;
}

h1 {
  max-width: 20ch;
}

h2 {
  max-width: 28ch;
}

h3 {
  max-width: 60ch;
}

/**
 * Lede/intro paragraph
 */

.lede {
  font-size: var(--size-step-2);
  font-style: italic;
  text-wrap: balance;
  line-height: 1.45;
  max-width: 50ch;
}

.lede + * {
  --flow-space: 2em;
}

/**
 * Skip nav
 */

.skip-link:not(:focus), .visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/**
 * Header
 */

/* .site-head {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

.site-head__logo {
  max-width: 400px;
  margin-inline: auto;
}

/**
 * Nav
 */

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* .nav__list > * {
  padding-inline-start: 1rem;
} */

.nav__item > a[aria-current="page"],
.nav__item > a[data-state="active"] {
  font-weight: bold;
}

/**
 * Post list
 */

.post-list {
  list-style-type: none;
  padding-inline-start: 0;
}

.post-list__title {
  font-size: var(--size-step-2);
  font-weight: 700;
}

.post-list__item {
  --flow-space: 1.5em;
}

.post-list__item > * {
  --flow-space: .25em;
}

/**
 * Articles (sorta)
 */

time {
  display: block;
  font-size: var(--size-step-0);
}

.tags-list {
  list-style-type: none;
  padding-inline-start: 0;
  font-size: var(--size-step-0);
}