{% if metadata.title === title %}
  {% set pageTitle = title %}
{% else %}
  {% set pageTitle = title + ' • ' + metadata.title %}
{% endif %}

{% set currentUrl = metadata.url + page.url %}

{% set pageDesc = metadata.description or summary or metadata.description %}

{% set pageImage = metadata.imageSrc or metadata.socialImage %}

<title>{{ pageTitle }}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
{# <link rel="apple-touch-icon" href="/path/to/icon.png"> #}

<link rel="canonical" href="{{ currentUrl }}">
<link rel="webmention" href="https://webmention.io/jeremyrobertjones.com/webmention">
<meta name="author" content="{{ metadata.authorName }}">
<meta name="description" content="{{ pageDesc }}">
<meta name="generator" content="{{ eleventy.generator }}">

<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:locale" content="{{ metadata.locale }}">
<meta property="og:site_name" content="{{ metadata.title }}">
<meta property="og:title" content="{{ pageTitle }}">
<meta property="og:url" content="{{ currentUrl }}">
<meta property="og:description" content="{{ pageDesc }}">
{% if pageImage %}
  <meta property="og:image" content="https://jeremyrobertjones.com/images/social/{{ pageImage }}">
  <meta name="og:image:alt" content="{{ metadata.imageAlt or metadata.socialImageAlt }}">
  <meta property="og:image:width" content="{{ metadata.imageWidth or 1200 }}">
  <meta property="og:image:height" content="{{ metadata.imageHeight or 630 }}">
{% endif %}

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ metadata.twitter }}">
<meta name="twitter:creator" content="{{ metadata.twitter }}">
<meta name="twitter:title" content="{{ pageTitle }}">
<meta name="twitter:description" content="{{ pageDesc }}">
{% if pageImage %}
  <meta name="twitter:image" content="https://jeremyrobertjones.com/images/social/{{ pageImage }}">
  <meta name="twitter:image:alt" content="{{ metadata.imageAlt or metadata.socialImageAlt }}">
{% endif %}

<meta property="fb:app_id" content="1108969113895287">

<script type="application/ld+json">{{ schemaorg | dump('\t') | safe }}</script>