{% set pageTitle = title + ' • ' + site.name %}

{# We don't want any duplication. This is likely for the home page. #}
{% if site.name === title %}
  {% set pageTitle = title %}
{% endif %}

{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

{# If page Front Matter sets `metaTitle`, use that #}
{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% set ogImage = socialImage or site.defaultSocialImage %}
{% set ogImageWidth = socialImageWidth or 1200 %}
{% set ogImageHeight = socialImageHeight or 630 %}

{% set ogDesc = metaDesc or summary or site.defaultMetaDesc %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
{# <link rel="apple-touch-icon" href="/path/to/icon.png" /> #}

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if ogImage %}
  <meta name="twitter:title" content="{{ pageTitle }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ ogImage }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
  <meta property="og:image" content="{{ ogImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta property="og:image:width" content="{{ ogImageWidth }}" />
  <meta property="og:image:height" content="{{ ogImageHeight }}" />
{% endif %}

{% if ogDesc %}
  <meta name="description" content="{{ ogDesc }}" />
  <meta name="twitter:description" content="{{ ogDesc }}" />
  <meta property="og:description" content="{{ ogDesc }}" />
{% endif %}