{% if postListHeadline %}
  <h2>{{ postListHeadline }}</h2>
{% endif %}

<ol class="post-list flow" reversed>
  {% for item in postListItems %}
    <li class="post-list__item flow">
      <time datetime="{{ item.data.date | dateFilterW3 }}">{{ item.data.date | dateFilter }}</time>
      <a href="{{ item.url }}" class="post-list__title">{{ item.data.title }}</a>
      {% if item.data.summary %}
        <p class="post-list__summary">{{ item.data.summary }}</p>
      {% endif %}
      {% if item.data.tags %}
        <p class="visually-hidden" id="tags-desc">Tags that this post has been filed under.</p>
        <ul class="tags-list" aria-describedby="tags-desc">
          {% for tag in item.data.tags %}
            <li>
              <a href="/tag/{{ tag | slugify }}/">#{{ tag | replace(' ', '') }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ol>